<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ meta.description }}">

    {{#if isDev}}
        <link rel="stylesheet" href="//localhost:8080/flights.bundle.css">
    {{else}}
        <link rel="stylesheet" href="//flights.surge.sh/flights.css">
    {{/if}}
</head>
<body>
<div id="root">
    Пожалуйста, подождите.
</div>

{{> footer/footer }}

{{#if isDev}}
    <script src="//localhost:8080/flights.bundle.js"></script>
{{else}}
    <script src="//flights.surge.sh/flights.js"></script>
{{/if}}
</body>
</html>