<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ meta.description }}">

    {{#if isDev}}
        <link rel="stylesheet" href="//localhost:8080/todos.bundle.css">
    {{else}}
        <link rel="stylesheet" href="//todos.surge.sh/todos.css">
    {{/if}}
</head>
<body>
<div id="root">
    Пожалуйста, подождите.
</div>

{{> footer/footer }}

{{#if isDev}}
    <script src="//localhost:8080/todos.bundle.js"></script>
{{else}}
    <script src="//todos.surge.sh/todos.js"></script>
{{/if}}
</body>
</html>